### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Count Unique Values of Players Who Purchased an Item 
unique_players = len(purchase_data_df["SN"].unique())

#Create Dataframe with Unique Players

Total_Players = pd.DataFrame({"Number of Unique Players":[unique_players]})

Total_Players

   Number of Unique Players
0                       576

## Purchasing Analysis (Total)

In [3]:
#Count Number of Unique Items Based off Item ID
unique_items = len(purchase_data_df["Item ID"].unique())

#Calculate Average Purchase Price

avg_price = purchase_data_df["Price"].mean()

#Caluculate Total Items Purchased

total_items_purchased = purchase_data_df["Purchase ID"].count()

#Calculate Total Revenue

total_revenue = purchase_data_df["Price"].sum()

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
 #Create a new dataframe with the purchasing analysis datapoints
purchasing_summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],"Avg. Purchase Price": [avg_price],"Total Number of Purchases":[total_items_purchased],"Total Revenue":[total_revenue]})

#Change the format of the Avg. Purchase Price and Total Revenue columns to show in a currency format and round to 2 decimals

purchasing_summary_df.style.format({"Avg. Purchase Price":"${:,.2f}","Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Group Data by Gender
gender_demographics = purchase_data_df.groupby("Gender")

#Isolate Unique Records in Database to prevent double counting based on Screen Name (SN)

gender_count = gender_demographics.nunique()["SN"]

#Calculate Gender Percentages using the Gender Count and Unique Players determined previously (unique_players)

gender_percentage = (gender_count / unique_players)

#Create DataFrame to show counts and percentages by Gender

gender_stats_df = pd.DataFrame({"Count of Unique Players": gender_count, "Percentage of Unique Players":gender_percentage})

#Convert Percentage column into float and format

gender_stats_df["Percentage of Unique Players"] = gender_stats_df["Percentage of Unique Players"].astype(float).map("{:.2%}".format)

#Sort by Count of Players to Show Male, Female, Other per HW Assignment

gender_stats_df.sort_values(["Count of Unique Players"], ascending=False)

                       Count of Unique Players Percentage of Unique Players
Gender
Male                                       484                       84.03%
Female                                      81                       14.06%
Other / Non-Disclosed                       11                        1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Number of Purchases by Gender
gender_purchase_count = gender_demographics["Purchase ID"].count()

#Average Purchase Price by Gender

avg_purch_price = gender_demographics["Price"].mean()

#Total Purchases by Price for each gender

gender_total_purch_price = gender_demographics["Price"].sum()

#Average Gender purchase price for each unique shopper

gender_avg_purch_per_person = gender_total_purch_price / gender_count

In [7]:
#Create Dataframe For Gender Purchasing Analysis

gender_analysis_df = pd.DataFrame({"Total Purchases": gender_purchase_count,
                                   "Average Purchase Price": avg_purch_price,
                                   "Total Sales": gender_total_purch_price,
                                   "Avg Sales Per Shopper": gender_avg_purch_per_person})

#Format Avg Purch Price, Total Sales, and Avg Sales per Shopper

gender_analysis_df.style.format({"Average Purchase Price":"${:,.2f}","Total Sales":"${:,.2f}","Avg Sales Per Shopper":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
#Create bins and groups for age segmentation
bins_age = [0,9,14,19,24,29,34,39,50]
groups_age = ["< 10","11-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Append Age Banding column to end of PurChase_Data Dataframe
purchase_data_df["Age Band"] = pd.cut(purchase_data_df["Age"],bins_age, labels=groups_age)

#Create Dataframe for Age Banding Analysis
age_band_df = purchase_data_df.groupby("Age Band")

#Calculate number of unique players in each age band
players_age_count = age_band_df["SN"].nunique()

#Calculate each age band as a percentage of total and round to 2 decimals
players_age_percentage = (players_age_count / unique_players)

#Create dataframe to show counts and percentage by age band
age_band_summary = pd.DataFrame({"Count of Unique Players": players_age_count, "Percentage of Unique Players":players_age_percentage})

#Convert Percentage column into float and format

age_band_summary["Percentage of Unique Players"] = age_band_summary["Percentage of Unique Players"].astype(float).map("{:.2%}".format)

age_band_summary

          Count of Unique Players Percentage of Unique Players
Age Band
< 10                           17                        2.95%
11-14                          22                        3.82%
15-19                         107                       18.58%
20-24                         258                       44.79%
25-29                          77                       13.37%
30-34                          52                        9.03%
35-39                          31                        5.38%
40+                            12                        2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Number of Purchases by Age Band
age_purchase_count = age_band_df["Purchase ID"].count()


#Average Purchase Price by Age Band

age_avg_purch_price = age_band_df["Price"].mean()


#Total Purchases by Price for each Age Band

age_total_purch_price = age_band_df["Price"].sum()

#Average  purchase price for each unique shopper in each Age Band

age_avg_purch_per_person = age_total_purch_price / players_age_count

In [10]:
#Create Dataframe For Age Banding Purchasing Analysis

age_analysis_df = pd.DataFrame({"Total Purchases": age_purchase_count,
                                   "Average Purchase Price": age_avg_purch_price,
                                   "Total Sales": age_total_purch_price,
                                   "Avg Sales Per Shopper": age_avg_purch_per_person})

#Format Avg Purch Price, Total Sales, and Avg Sales per Shopper

age_analysis_df.style.format({"Average Purchase Price":"${:,.2f}","Total Sales":"${:,.2f}","Avg Sales Per Shopper":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#Group by Screen Name (SN)
SN_spending = purchase_data_df.groupby("SN")

#Total Purchases by Screen Name (SN)
SN_total_purchases = SN_spending["Purchase ID"].count()

#Total Spent by Screen Name (SN)
SN_total_spent = SN_spending["Price"].sum()

#Average Purchase Price by Screen Name (SN)
SN_avg_price = SN_total_spent / SN_total_purchases

In [12]:
#Create Dataframe for Top SN Purchasing Analysis

top_spenders = pd.DataFrame({"Total Purchases": SN_total_purchases,
                                   "Total Purchase Value": SN_total_spent,
                                   "Average Purchase Price": SN_avg_price}
                                   )

#Create Dataframe to sort Screen Names by Total Purchase Value
sorted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#Formatting of Avg Purchase Price and Total Purchase Price
sorted_spenders.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
#Create DataFrame with Item ID, Item Name, Price to determine most popular items
popular_items = purchase_data_df[["Item ID","Item Name","Price","Purchase ID"]]


#Group Items by Item ID and Item Name
items_description = popular_items.groupby(["Item ID","Item Name"])

#Count No. of Purchases by Item ID and Item Name
times_purchased = items_description["Purchase ID"].count()

#Total Revenue by Item ID and Item Name
total_item_revenue = items_description["Price"].sum()

#Average Item Price
avg_item_revenue = total_item_revenue / times_purchased

In [14]:
#Create DataFrame to analyze Most Popular Items

most_popular_items = pd.DataFrame({"Total Purchases": times_purchased,
                                   "Total Item Revenue": total_item_revenue,
                                   "Average Item Price": avg_item_revenue}
                                   )

#Create Dataframe to sort Item ID and Item Name by Total Purchases
sorted_popular_items = most_popular_items.sort_values(["Total Purchases"], ascending=False).head()

#Formatting of Total Item Revenue and Average Item Price
sorted_popular_items.style.format({"Total Item Revenue":"${:,.2f}","Average Item Price":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [15]:
#Create Dataframe to sort Item ID and Item Name by Total Purchases
sorted_profitable_items = most_popular_items.sort_values(["Total Item Revenue"], ascending=False).head()

#Formatting of Total Item Revenue and Average Item Price
sorted_profitable_items.style.format({"Total Item Revenue":"${:,.2f}","Average Item Price":"${:,.2f}"})